.section{
  margin: auto;
  text-align: center;
  max-width: 1292px;
  width: 100%;
  transform: translateX(-1000px);
  opacity: 0;
  animation: left 0.5s forwards;
}

@keyframes left{
  to{
    opacity: initial;
    transform: initial;
  }
}